<div class="container">
  <div class="col-md-6">

    <h1>Add a new photo</h1>

    <form action = "/create_photo">
      <div>
        <label for = "src">
          Image URL
        </label>

        <input id = "src" type = "text"  name = "da_source">
      </div>
      <div>
        <label for = "cap">
          Caption
        </label>

        <input id = "cap" type = "text" name = "da_caption">
      </div>
      <button> Create Photo </button>

    </form>


  </div>
</div>
